@media (max-width: 768px) {
  .scroll-to-top {
    display: block;
  }
   .team-section .card {
      flex: 1 1 calc(50% - 20px);
    }
     .team-section .card {
      flex: 1 1 100%;
    }
    
}

  